body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auto-ative {
  color: #fff;
  background-color: #137cbd;
  padding: 2px 8px;
  border-radius: 4px;
}

.parent, .child, .grandson {
  padding: 10px;
  box-sizing: border-box;
}
.parent {
  width: 960px;
  background-color: antiquewhite;
}
.child {
  width: 100%;
  background-color: aquamarine;
}
.grandson {
  width: 100%;
  background-color: #ccc;
}